body {
  background: url(../images/background_cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/background_cover.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/background_cover.jpg', sizingMethod='scale');
}

.jumbotron {
  background: none;
  padding-top: 10px;
}

.title {
  font-family: 'Bungee', cursive;
  color: #fff;
  -webkit-text-stroke-width:2px;
  -webkit-text-stroke-color: black;
}

.subheading {
  padding: 5px 0;
  font-family: 'Open Sans', cursive;
  font-weight: bold;
  color: #000;
  -webkit-text-stroke-width:0px;
  -webkit-text-stroke-color: black;
}

.centered {
  text-align: center;
}

img {
  height: 160px;
  width: 140px;
}

.small-padding {
  padding: 5px;
}
