body {
  background: url(../images/background_cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/background_cover.jpg', sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/background_cover.jpg', sizingMethod='scale');
}

.jumbotron {
  background: none;
}

.title {
  font-family: 'Bungee', cursive;
  color: #fff;
  -webkit-text-stroke-width:2px;
  -webkit-text-stroke-color: black;
}

.centered {
  text-align: center;
}
